@model Medict.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class=" col-md-4">
    <form asp-action="Create">
        <fieldset>
            <div class="form-group  ">
                <label asp-for="Name">Name</label>
                <input type="text" class="form-control mr-sm-2" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group  ">
                <label asp-for="CategoryId">CategoryId</label>
                <input type="text" class="form-control mr-sm-2" asp-for="CategoryId">
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group  ">
                <label asp-for="BrandId">BrandId</label>
                <input type="text" class="form-control mr-sm-2" asp-for="BrandId">
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group  ">
                <label asp-for="ShotrtDescription">ShortDescription</label>
                <input type="text" class="form-control mr-sm-2" asp-for="ShotrtDescription">
                <span asp-validation-for="ShotrtDescription" class="text-danger"></span>
            </div>
            <div class="form-group  ">
                <label asp-for="LongDescription">LongDescription</label>

                <input type="text" class="form-control mr-sm-2" asp-for="LongDescription">
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group  ">
                <label asp-for="Quantity">Quantity</label>
                <input type="text" class="form-control mr-sm-2" asp-for="Quantity">
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group  ">
                <label asp-for="Image">Image</label>
                <input type="text" class="form-control mr-sm-2" asp-for="Image">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group  ">
                <label asp-for="Price">Price</label>
                <input type="text" class="form-control mr-sm-2" asp-for="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group  ">
                <label asp-for="Discount">Discount</label>
                <input type="text" class="form-control mr-sm-2" asp-for="Discount">
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
