@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = "Edit";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Role</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->

    <link href="~/Login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--=====================================================================================
    ==========-->
    <link href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />


    <!--===============================================================================================-->

    <link href="~/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Login/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Login/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Login/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Login/vendor/select2/select2.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Login/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Login/css/util.css" rel="stylesheet" />
    <link href="~/Login/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w" asp-action="Role" method="post">
                    <span class="login100-form-title p-b-51">
                        Edit Role
                    </span>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Name is required">
                        <input class="input100" type="text" name="Name" placeholder="name">
                        <span class="focus-input100"></span>
                    </div>



                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                            Update
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->

    <script src="~/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->

    <script src="~/Login/vendor/bootstrap/js/popper.js"></script>

    <script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->

    <script src="~/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->

    <script src="~/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->

    <script src="~/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->

    <script src="~/Login/js/main.js"></script>

</body>
</html>


